<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FootballManager</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <!-- Image and text -->

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/images/match.png" width="50" height="50" class="d-inline-block align-top" alt="">
    Team 39
  </a>
</nav>

    <div class="Projname">
      FOOTBALL MANAGER
    </div>
    <div>
        <div class="box">

          <ul>
            <div class="r1">
              <li><h4>Team</h4><a href="Teams"><img src="/images/team.png" alt=""></a></li>
              <li><h4>Player</h4><a href="Player"><img src="/images/player.png" alt=""></a></li>
              <li><h4>Coach</h4><a href="Coach"><img src="/images/coach.png" alt=""></a></li>

            </div>
            <div class="r2">
              <li><h4>Manager</h4><a href="Manager"><img src="/images/manager.png" alt=""></a></li>
              <li><h4>Referee</h4><a href="Referee"><img src="/images/referee.png" alt=""></a></li>
              <li><h4>Sponsor</h4><a href="Sponsor"><img src="/images/sponsor.png" alt=""></a></li>
            </div>
            <div class="r3">
              <li><h4>Tournament</h4><a href="Tournament"><img src="/images/tournament.png" alt=""></a></li>
              <li><h4>Stadium</h4><a href="Stadium"><img src="/images/stadium.png" alt=""></a></li>
              <li><h4>Match</h4><a href="Match"><img src="/images/match.png" alt=""></a></li>
            </div>
          </ul>
        </div>
    </div>

  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>
